---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = (await getCollection("reviews"))
  .sort((a: CollectionEntry<"reviews">, b: CollectionEntry<"reviews">) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());


const label: Record<string, string> = {
  "games": "Games",
  "music": "Music",
  "movies": "Movies",
  "tv-shows": "TV Shows",
  "anime": "Anime",
};
---

<BaseLayout title="Reviews">
  <h1>Reviews</h1>
  <ul>
    {posts.map((post: CollectionEntry<"reviews">) => (
      <li>
        <a href={`/reviews/${post.data.medium}/${post.id}/`}>{post.data.title}</a>
        <span> ({label[post.data.medium]})</span>
      </li>
    ))}
  </ul>
</BaseLayout>
