---
import { getCollection, render, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props as { post: CollectionEntry<"blog"> };
const { Content } = await render(post);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{post.data.title}</title>
  </head>
  <body>
    <a href="/blog/">Back</a>
    <h1>{post.data.title}</h1>
    <Content />
  </body>
</html>
