---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { formatListDate } from "../../lib/dates";

const posts = (await getCollection("blog"))
  .sort((a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="Blog">
  <h1>Blog</h1>

  <ul>
    {posts.map((post: CollectionEntry<"blog">) => (
      <li>
        <a href={`/blog/${post.id}/`}>{post.data.title}</a>
        {" "}
        <span>(Blog)</span>
        {" "}
        <span class="list-date">{formatListDate(post.data.pubDate)}</span>
      </li>
    ))}
  </ul>
</BaseLayout>
