---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = (await getCollection("blog"))
  .sort((a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 10);
---

<BaseLayout title="Home">
  <h1>Recent</h1>

  <ul>
    {posts.map((post: CollectionEntry<"blog">) => (
      <li>
        <a href={`/blog/${post.id}/`}>{post.data.title}</a>
      </li>
    ))}
  </ul>
</BaseLayout>
